

<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

        <link href="/style.css" rel="stylesheet" />

        <title>Result</title>

    </head>


    <body>

        <h1>Result</h1>

        

        <p> 
			This offer is <%=reponse%>
		
		</p>

    </body>

</html>

